:root {
  --light-grey: rgb(245, 240, 230);
  --mid-grey: rgba(0, 0, 0, 0.5);
  --orange: rgba(219, 105, 12, 1.0);
  --blush: rgba(219, 157, 132, 1.0);
  --light-blue: rgba(121, 181, 219, 1.0);
  --dark-blue: rgb(20, 68, 99);
  --yellow: rgb(248, 230, 166);
}

* {
  font-size: 18px;
}

body {
  font-family: 'Spectral', Georgia, Times, serif;
}

/*******************************************
* HEADINGS & PARAGRAPHS
*
* h1-h6 values and line-heights  go here.
******************************************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 2;
  letter-spacing: 2px; 
}
  
h2 {
  font-size: 2rem;
  line-height: 1.5; 
}
  
h3 {
  font-size: 1.4rem;
  line-height: 1.3; 
}
  
h4 {
  font-size: 1rem;
  line-height: 1; 
}
  
h5 {
  font-size: 0.8rem; 
}
  
h6 {
  font-size: 0.6rem; 
}
  
a, p, article, table, figcaption {
  padding: 0.3rem 1rem; 
}
  
h1, h2, h3, h4, h5, h6 {
  text-align: center; 
}
  

/*** setting the colours for elements - DARK MODE ***/

body, main {
  background: var(--light-grey);
  color: black; 
}

header {
  background: linear-gradient(to left, 
  var(--orange), var(--blush),
   var(--yellow));
  text-align: center;
}

figure {
  background: var(--light-grey);
  border: 3px solid var(--mid-grey);
  border-radius: 8px;
}

#logo {
  background-image: url('../flower-logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

/*** Plain links within the body copy ***/
a, a:visited {
  font-size: 2rem;
  color: var(--dark-blue);
  border-bottom: var(--dark-blue); 
}
  
a:hover, a:focus {
  background-color: var(--dark-blue);
  color: white;
  border-bottom: transparent; 
}

/*** tables ***/
table {
  border-top: var(--white) 1px solid;
  border-bottom: var(--white) 1px solid;
  box-shadow: 2px 0 2px var(--light-grey), 
  -2px 0 2px var(--mid-grey); 
}

thead, tfoot {
  background-color: var(--mid-grey);
  background-image: linear-gradient(var(--mid-grey), var(--main-bg-col));
}
  
thead {
  border-bottom: 1px solid var(--mid-grey); 
}
  
tfoot {
  border-top: 1px solid var(--mid-grey); 
}

colgroup {
  background: var(--mid-grey);
}

thead > tr > th { 
  text-shadow: 2px 2px 0 var(--mid-grey), 
    -1px -1px 0 var(--mid-grey); 
}

tbody > tr:nth-child(even) {
  background: var(--mid-grey);
}
  
tbody > tr > td:nth-child(odd) {
  background: var(--mid-grey); 
}
  
td {
  color: var(--white); 
}

table.openingTable > tr, table.openingTable > tr:nth-child(even),
table.openingTable > tr:nth-child(odd), table.openingTable td,
table.openingTable > tbody > tr > td:nth-child(2n+1) {
  background: var(--main-bg-col); 
}

strong {
  color: var(--light-company-col);
}

.bullet-list li:before {
  color: var(--light-grey); 
}

/* forms */
.success, .js-success, .php-error, .js-error {
  color: var(--light-grey);
}

.success {
  background: var(--green); 
}
  
.php-error {
  background: var(--red);
  color: var(--light-grey); 
}

.js-error {
  background: var(--main-bg-col);
  color: var(--white);
  border: 1px solid var(--red);
  box-shadow: 0 0 2px var(--red); 
}

#error_space {
  color: var(--white);
}

textarea#message {
  box-shadow: 0 0 5px var(--black);
}

input:focus, textarea:focus {
  box-shadow: -1px 1px 3px var(--light-company-col)
    , 0 0 5px var(--dark-company-col);
  background: var(--white); 
}

input, textarea {
  background: var(--light-grey);
  color: var(--black);
}

input#submit-custom, input#attach {
  color: var(--main-bg-col);
  background: var(--light-grey);
}

input#submit-custom:focus, input#attach:focus,
input#submit-custom:hover, input#attach:hover {
  background: var(--light-company-col);
  color: var(--white);
  border: 2px solid var(--dark-company-col); 
}

button#unhide-attachments {
  background: var(--main-bg-col);
  color: var(--white);
  border: 2px solid var(--light-grey);
}