/********************************************
 * LAYOUT
 *
 * Setting up the padding, basic colours, and
 * any positioning.
 ********************************************/
html, body {
    width: 100%;
    height: 100%; 
}

/*** HEADER ***/
header {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}
  
div#logo {
    width: 200px;
    height: 200px;
    flex-shrink: 3;
}

div.header-titles {
    flex-grow: 4;
}

/* mobile screens */
@media screen and (max-width: 1024px) {
    header h1 {
        font-size: 2.6rem;
    }

    header h2 {
        font-size: 2rem;
    }
}

/* bigger screens */
@media screen and (min-width: 1025px) {
    header h1 {
        font-size: 4rem;
    }

    header h2 {
        font-size: 3rem;
    }
}

/*** BODY CONTENT ***/
pre, code, p, main {
    padding: 1rem; 
}

/*** FOOTER ***/
footer {
    margin-top: 0.6rem;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
}

/*** navigation ***/
nav {
    background: var(--light-blue);
}

a {
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
}

.item {
    padding: 0.6rem;
}

.item.button {
    padding: 0.3rem 0.6rem;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: --var(--dark-blue);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 1rem 0.3rem;
}


