/********************************************
 * LAYOUT
 *
 * Setting up the padding, basic colours, and
 * any positioning.
 ********************************************/
html,
body {
  width: 100%;
  height: 100%;
}

/*** HEADER ***/
header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

div#logo {
  width: 200px;
  height: 200px;
  flex-shrink: 3;
}

div.header-titles {
  flex-grow: 4;
}

/*** BODY CONTENT ***/
pre,
code,
p,
main {
  padding: 1rem;
}

/*** FOOTER ***/
footer {
  margin-top: 0.6rem;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

/*** navigation ***/
nav {
  background: var(--light-blue);
}

a {
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.item {
  padding: 0.3rem 0.5rem;
}

.item.button {
  padding: 0.3rem 0.6rem;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: --var(--dark-blue);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 1rem 0.3rem;
}



/* MEDIA QUERIES */
/* mobile screens */
@media screen and (max-width: 700px) {
  div#logo {
    width: 80px;
    height: 80px;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.card-container {
    display: block;
  }

  .wishlist-card {
    margin: 0 auto;
  }
}

/* tablet screens */
@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 2.6rem;
  }

  header h2 {
    font-size: 2rem;
  }
}

/* bigger screens */
@media screen and (min-width: 1025px) {
  header h1 {
    font-size: 4rem;
  }

  header h2 {
    font-size: 3rem;
  }
}
