/***********
* FORMS
*
*/
form {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form-group {
  width: 100%;
}

input, textarea {
  background: white;
  color: black;
}

input:focus, textarea:focus {
  box-shadow: -1px 1px 3px var(--mid-grey)
    , 0 0 5px var(--dark-blue);
  background: white; 
}

/* mobile screens */
@media screen and (max-width: 1024px) {
  form {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
  }

  label {
      display: block;
  }

  button,
  fieldset,
  input,
  legend,
  select,
  textarea {
      grid-column: span 1;
  }
}

/* large screens */
@media screen and (min-width: 1025px) {
  form {
      width: 60%;
      margin: 0 auto; 
  }

  label {
      display: inline-block;
  }
}

input[type="submit"] {
  margin: 0.3rem;
  padding: 0 3rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 2rem; 
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="file"],
input[type="url"],
select,
textarea {
  font-size: 1.4rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3rem 0.5rem;
}

textarea {
  min-height: 12rem;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.6rem;
  width: 1.6rem;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    var(--orange) 40%,
    transparent calc(40% + 1px)
  );
}

input[type="checkbox"]:checked {
  background-image: linear-gradient(
      var(--blush) 40%, 
      var(--orange)
  );
}

/* error messages */
.success {
  background: white; 
  color: darkgreen;
  font-size: 1.6rem;
  font-weight: bold; 
}
    
.php-error, .js-error {
  background: white;
  color: maroon;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold; 
}
 
.error_area {
  background-color: white;
  width: 500px;
  height: 4rem;
  margin: 0 auto;
}
  
.btn.btn-primary.btn-lg {
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  background: var(--dark-blue);
  border: 2px solid var(--light-blue); 
}
  
.btn.btn-primary.btn-lg:focus,
.btn.btn-primary.btn-lg:hover {
  background-color: var(--light-blue);
  outline: var(--dark-blue);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue); 
}


  
