  
 /**************
 * For special bits that don't belong
 * in the other SCSS files
 *
 */
table {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 5px black; 
}

a.product {
    padding: 0;
}
  
/** Google Maps Buttons **/
.map-button {
    width: 4em;
    font-family:  "Liberation Sans", Arial, sans-serif;
    font-size: 1.6em;
    padding: 0.4em 1em;
    border: 2px solid transparent; 
}
    
table {
    width: 80%;
    margin: 1.6rem auto;
    border-collapse: collapse;
    padding: 2px;
}
  
caption {
    font-size: 1.4em;
    font-style: italic;
    padding: 0 0 0.3em 0; 
}
    
th, td {
    padding: 0.3em 0.8em; 
}
    
thead > tr > th {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
}
  
tfoot > tr > td {
    font-style: italic;
    font-size: 0.9em; 
}
  
/** for the opening Times table **/
table.openingTable {
    margin: 5px auto;
    width: 60%;
    border: none;
    box-shadow: none;
}
  

/*** TEXT STYLES - for body copy, strong, em etc **/

  
.bulletList li {
    margin-left: 3em;
}
  
.bulletList li:before {
    content: "\261B  ";
}
  
.numberList li {
    list-style-type: decimal;
    margin-left: 3em; 
}
  
.numberList li:before {
    content: " "; 
}
  
.bulletList li > .numberList li {
    list-style-type: lower-alpha; 
}
  
.bulletList li > .circles li {
    list-style-type: disc; 
}
  
.bulletList li > .circles li:before {
    content: ""; 
}
  
ul.bulletList li > p {
    margin-left: 1rem; 
}
  

